<div class="question-list">
  <% @questions.each do |question| %>
    <h3><%= link_to question.title, question_path(question) %></h3>
    <p><%= question.content %></p>
    <%= button_to "Up Vote", question_upvotes_path(question), {:class => "btn btn-success btn-xs vote-btn" }%>
    <%= button_to "Down Vote", question_downvotes_path(question), {:class => "btn btn-danger btn-xs vote-btn" }%>
    Votes: <%= question.votes %>
    <br><br>
  <% end %>
</div>

<!-- Question form template for handlebars -->
<div class="append-question" style="display:none">
  <h3><a href="/questions/{{question_id}}">{{title}}</a></h3>
  <p>{{content}}</p>

  <form id="up-{{question_id}}" action="/questions/{{question_id}}/upvotes" method='POST'>
    <button class="btn btn-success btn-xs upvote" type='submit' value='Up Vote'>Up Vote</button>
  </form>

  <form id="down-{{question_id}}" action="/questions/{{question_id}}/downvotes" method='POST'>
    <button class="btn btn-danger btn-xs downvote" type='submit' value='Down Vote'>Down Vote</button>
  </form>

  <p id="{{question_id}}">votes: {{votes}}</p>
</div>

<div class="form-group">
<table>
  <%= form_for :question, html: {id: "new-question-form"} do |f| %>
    <tr><%= f.text_field :title, placeholder: "Title", class: "form-control" %></tr>
    <tr><%= f.text_area :content, placeholder: "Enter text...", class: "form-control" %></tr>
    <td><%= f.submit "Add Question" , class: "btn btn-primary" %></td>
  <% end %>
</table>
</div>
