<h1>Question Title: <%= @question.title %> </h1>
<h2>Question Content: <%= @question.content %> </h2>

<% @question.answers.each do |answer| %>
  <h3>Answer Title: <%= answer.title %></h3>
  <p>Answer Content: <%= answer.content %></p>
<% end %>

<%= link_to 'Destroy', question_path(@question),
            method: :delete,
            data: { confirm: "Are you sure?" }  %>

<!-- ??How is @question working?? -->
<%= link_to 'Edit', edit_question_path(@question) %>

<br><br><br><br>

<%= form_for([@question, @question.answers.build ]) do |f| %>
  <table>
    <tr>
      <td><%= f.text_field :title, placeholder: "Answer" %></td>
      <td><%= f.text_area :content, placeholder: "Content"  %></td>
      <td><%= f.submit "Save Changes", class: "btn btn-success" %> </td>
    </tr>
  </table>
<% end %>

