<h1> <%= @question.title %> </h1>
<h2> <%= @question.content %> </h2>
<% @question.answers.each do |answer| %>
  <h3><%= answer.title %></h3>
  <p><%= answer.content %></p>
<% end %>

<%= form_for :answer do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :content %>

  <%= f.submit  %>
<% end %>
