<!DOCTYPE html>
<html>
<head>
  <title>stackoverclone</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Montserrat|Raleway:600' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
      <div><%= image_tag "logo.png" %></div>
     <h1>stack<strong>overclone</strong></h1>
      <% if @api_response %>
        <h2>"<%= @api_response %>"</h2>
      <% end %>
    </header>
  <div>
    <%= yield %>
  </div>
</body>
</html>
